.student {
  background-color: var(--bg-main);
}

.student__wrapper {
  padding: 110px 70px 100px 70px;

  color: var(--font-white);
}

.student__undertitle {
  margin-bottom: 66px;
}

.student__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.student__text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 600px;
}

.student__title {
  margin-bottom: 18px;

  font-size: 50px;
  font-weight: 400;
}

.student__subtitle {
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.student__text {
  font-size: 14px;
  line-height: 22px;
}

.student__link {
  margin-top: auto;

  font-size: 14px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

