.not-found {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 60px;

  background-color: var(--bg-main);
}

.not-found__content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: var(--font-white);
}

.not-found__title {
  font-size: 140px;
  font-weight: 400;
}

.not-found__text {
  font-size: 16px;
}

.not-found__link {
  color: var(--blue);
  text-decoration: none;
  font-size: 14px;
}