.not-found {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 60px;

  background-color: var(--bg-main);
}

.not-found__content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: var(--font-white);
}

.not-found__title {
  font-size: 140px;
  font-weight: 400;
}

.not-found__text {
  font-size: 16px;
}

.not-found__link {
  margin-top: auto;

  color: var(--blue);
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-top: 408px;
    padding-bottom: 222px;
    justify-content: start;
  }

  .not-found__content-wrapper {
    flex: 0;
    gap: 13px;
  }
}

@media screen and (max-width: 475px) {

  .not-found {
    padding-top: 332px;
    padding-bottom: 30px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__text {
    font-size: 12px;
  }
}